body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('b1.png');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #01010f63;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sitename, .nav-link {
    color: rgb(219, 227, 214);
    text-decoration: none;
    padding: 8px 16px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


footer {
    background-color: #21602b8c;
    color: rgb(251, 232, 233);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}